<div class="home-background">

  <div class="vertical-align">
    <div class="inner">
      
      <div class="row">
        <form ng-submit="validation()">
          <div class="row">
            <div class="col s6 offset-s3 center" style="padding-right: 0px;padding-left: 0px">
              <div class="input-field col s12"> <i class="fa fa-user prefix" aria-hidden="true"></i>
                <input id="name" type="text" class="validate clear">
                <label for="name">Enter Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6 offset-s3 center" style="padding-right: 0px;padding-left: 0px">
              <div class="input-field col s12"> <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                <input id="email" type="text" class="validate clear">
                <label for="email">Enter Email</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6 offset-s3 center" style="padding-right: 0px;padding-left: 0px">
              <div class="input-field col s12"> <i class="fa fa-mobile prefix" aria-hidden="true"></i>
                <input id="mobile" type="text" class="validate clear">
                <label for="mobile">Enter Mobile</label>
              </div>
            </div>

            <div class="col s4 offset-s4 center" style="padding-right: 0px;padding-left: 0px">
              <div class="input-field s12"> <!-- <i class="fa fa-credit-card-alt prefix" aria-hidden="true"></i> -->
                <select multiple id="cuisine" name="cuisine">
                  <option value="" disabled selected>Choose your option</option>
                </select>
                <label for="cuisine">Select Cuisines</label>
              </div>
            </div>
          </div>
          <div class="row">
            
          </div>
          <div class="row">
            <div class="col s2 offset-s4 center">
              <input id="submit" type="submit" class="waves-effect waves-light btn" />
            </div>
            <div class="col s2 center">
                <div id="fb-root"></div>
                <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>