<configuration>

    <!--Info Logs File-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>C:\Users\akash.mercer\logs\anonymous-info.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>C:\Users\akash.mercer\logs\anonymous-info.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--Console OutPut-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="stdout"/>
    </root>

    <!--Debug Logs File-->
    <appender name="DEBUG-FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:\Users\akash.mercer\logs\anonymous-debug.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="debugLogs" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG-FILE"/>
    </logger>

    <!--Error Logs File-->
    <appender name="ERROR-FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:\Users\akash.mercer\logs\anonymous-error.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="errorLogs" level="ERROR" additivity="false">
        <appender-ref ref="ERROR-FILE"/>
    </logger>

</configuration>